@using Blog.ViewModels
@using System.Globalization;
@using Blog.Extensions;
@model BlogPostDetailViewModel
@{
    ViewData["Title"] = Model.BlogPost.Title;
}

<div class="container">
    <main role="main">
        <div class="row">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">@Model.BlogPost.Title</h2>
                    <p class="blog-post-meta">@Model.BlogPost.CreatedAt.ToString("MMMM d, yyyy", CultureInfo.InvariantCulture) by @Model.BlogPost.Author.Name</p>
                    <p class="text-break">@Model.BlogPost.Body</p>
                </div>
            </div>
        </div>
    </main>

    @{
        var commentsViewModel = new CommentsViewModel
            {
                Comments = Model.BlogPost.Comments,
                BlogPostId = Model.BlogPost.Id,
            };
        @await Html.PartialAsync("_Comments", commentsViewModel)

    }

</div>